<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>controllers.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TemplateController</servlet-name>
        <servlet-class>controllers.TemplateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controllers.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controllers.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerController</servlet-name>
        <servlet-class>controllers.SellerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/Account/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TemplateController</servlet-name>
        <url-pattern>/Template/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/Cart/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/Admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerController</servlet-name>
        <url-pattern>/Seller/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
